.contentCheckout {
    position: relative;
    border: solid 1px #ddd;
    box-shadow: 0 0 30px #ddd;
    margin-top: 2%;
    margin-left: 11px;
    height:1100px;
    /*padding: 2%;*/
    flex: 0 0 99% !important;
    max-width: 99% !important;
}