.storeUrlTextField{
	/*max-width: 220px;*/
    margin-top: -15px;
    border: 0 0 0 0 #686868;
    border-left: none;
    border-right: none;
    border-top: none;
    transition:none;
}

/*.customRadioPurple .custom-control-input:checked .custom-control-label::before{
	background-color: red;
}*/
/*.customRadioPurple::checked .lblcustomradio::before {
    background-color: red;
} */
.lblcustomradio{
	/*background-color: #686868;	*/
}

/*.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: red;
}

.customRadioPurple::checked > .lblcustomradio::before {
    background-color: #f2f2f2;   
}*/